# Dependencies
/__pycache__
.ipynb_checkpoints
.ipynb_aml_checkpoints
*/.ipynb_checkpoints/*
*/.ipynb_aml_checkpoints/*
*.amltmp
*.amlignore
*.amlignore.amltmp

# data files
*.csv
*.csv.gz
*.zip
*.tif
*.pickle
*.parquet
*.xlsx
*.mapbox_token
*.pbf
#*.html
*.amltmp
*.gpkg
*.geojson
*.json
